In [30]:
import pandas as pd
import modules
import cleanup

# employer_name

In [31]:
col_list = ["employer_name"]
visas_df = pd.read_csv('../data/us_perm_visas.csv', usecols=col_list)

In [32]:
visas_df.head()

                 employer_name
0             NETSOFT USA INC.
1  PINNACLE ENVIRONEMNTAL CORP
2   SCHNABEL ENGINEERING, INC.
3      EBENEZER MISSION CHURCH
4   ALBANY INTERNATIONAL CORP.

In [33]:
visas_df["employer_name"].nunique()

71709

In [34]:
visas_df["employer_name"] = visas_df["employer_name"].str.upper()

In [35]:
visas_df["employer_name"].nunique()

70846

Manche Werte in der Spalte waren nicht durchgängig großgeschrieben.
Durch die Vereinheitlichung auf Großschreibung konnten 71709-70846 = 863 Duplikate vermieden werden.

In der cleanup.py wurde dies in der Funktion clean_employer_name() umgesetzt.

# employer_city

In [36]:
col_list = ["employer_city"]
visas_df = pd.read_csv('../data/us_perm_visas.csv', usecols=col_list)

In [37]:
visas_df.head()

  employer_city
0      NEW YORK
1     CARLSTADT
2    GLEN ALLEN
3      FLUSHING
4        ALBANY

Auch bei der Spalte `employer_city` liegen Unterschiede in groß und Kleinschriebung vor.
Dies wird im Nachgang bereinigt.

In [38]:
visas_df["employer_city"].nunique()

8384

In [39]:
visas_df["employer_city"] = visas_df["employer_city"].str.upper()

In [40]:
visas_df["employer_city"].nunique()

5826

## Entfernen von unüblichen Zeichen im Stadtnamen

In [41]:
visas_df["employer_city"].str.strip().str[-1].value_counts()

N    64805
E    58278
O    40163
A    35890
S    34978
K    30485
D    25773
Y    20285
G    10425
R     9289
W     9081
T     8770
H     8159
L     5256
M     4154
I     2997
X     2497
P     1878
U      323
,      261
C      218
Z      161
F       84
B       62
.       57
3        4
0        3
)        3
`        2
9        2
J        1
4        1
V        1
Q        1
7        1
Name: employer_city, dtype: int64

In manchen Zeilen liegen unübliche Zeichen am Ende des Strings vor. Dies können `. oder , sein.
Die Funktion `cutOffUnusualCharacters` der cleanup.py bereinigt diese unüblichen Zeichen.

In [42]:
visas_df["employer_city"] = cleanup.cutOffUnusualCharacters(visas_df["employer_city"])

In [43]:
visas_df["employer_city"].nunique()

5743

In [44]:
visas_df["employer_city"].str.strip().str[-1].value_counts()

N    64850
E    58328
O    40170
A    35896
S    35006
K    30518
D    25784
Y    20289
G    10428
R     9297
W     9081
T     8795
H     8168
L     5258
M     4156
I     2997
X     2550
P     1907
U      323
C      223
Z      161
F       84
B       62
3        4
0        3
)        3
9        2
4        1
V        1
J        1
Q        1
7        1
Name: employer_city, dtype: int64

Es soll noch ein kurzer Blick auf die verbleibenden Datensätze mit Satzzeichen im String geworfen werden.

In [45]:
visas_df[visas_df["employer_city"].str.contains(pat = ',', na=False)].size

52

In [46]:
visas_df[visas_df["employer_city"].str.contains(pat = ',', na=False)].value_counts()

employer_city
WASHINGTON, DC                17
SCHAUMBURG, IL 60173           3
HICKORY, NC                    3
MEMPHIS, TN                    3
, NEW YORK                     3
ANN ARBOR, MI                  2
KNOXVILLE, TN                  1
ALISO VIEJO, ORANGE COUNTY     1
CHARLOTTE,RD  CHARLOTTE        1
ENCINO, CA                     1
FLUSHING, NEW YORK             1
FLUSHING, NY                   1
GARDENA, CA                    1
GMF, BARRIGADA                 1
VANCOUVER, BC, V6J 1C7         1
SANTA MONICA, CA               1
SANTA BARBARA, CA              1
LONG ISLAND CITY, NY           1
WASHINGTON, D.C                1
MIAMI, FL                      1
N, BILLERICA                   1
NORTH HOLLYWOOD, CA            1
NW, WASHINGTON DC              1
OKLAHOMA CITY, OK              1
PALISADES PARK, NJ             1
SAIPAN, CNMI                   1
LA CANADA, FLINTRIDGE          1
dtype: int64

Es wird ersichtlich, dass auch ein Komma inmitteln des Strings zu Wertverfälschungen führen kann.
Aufgrund der geringen Anzahl an Fällen (52 Fälle) wird dies der Einfachkeithalber vernachlässigt.

Der Vollständigkeit halber wird auch noch ein Blick auf Strings mit einem enthaltenen . geworfen werden.

In [47]:
visas_df[visas_df["employer_city"].str.contains(pat = r'\.', na=False)].size

1522

In [48]:
modules.print_full(visas_df[visas_df["employer_city"].str.contains(pat = r'\.', na=False)].value_counts())

employer_city
ST. LOUIS            664
ST. PETERSBURG       160
ST. PAUL             115
FT. LAUDERDALE        79
ST. THOMAS            57
MT. VERNON            34
ST.PAUL               32
ST. SIOUX CITY        32
MISS. STATE           29
MT. PROSPECT          29
ST. LOUIS PARK        17
MT. PLEASANT          17
ST. CHARLES           15
MT. LAUREL            15
MT. KISCO             12
MT.LAUREL             11
ST. CLOUD             11
FT. DEFIANCE           9
ST. CLAIR SHORES       8
PORT ST. LUCIE         8
ST.LOUIS               7
ST. HELENA             7
ST. PETERS             7
ST. MARTINVILLE        6
ST. JOSEPH             6
FT. WASHINGTON         6
SAULT STE. MARIE       5
FT. WORTH              5
ST. CROIX FALLS        4
WASHINGTON D.C         4
ST. ALBANS             4
L.I.C                  4
ST. MATTHEWS           4
ST. GEORGE             4
FT. MYERS              4
MT. VIEW               3
MT. GRETNA             3
SO. SAN FRANCISCO      3
N. BRUNSWICK           3
N. MIAMI BEACH         3
E. WEYMOUTH            2
NO.PLAINFIELD          2
E. HAMPTON             2
ST.THOMAS              2
N. HOLLYWOOD           2
N. LAS VEGAS           2
N. MIAMI               2
ST. DAVIDS             2
FT. SMITH              2
FT. MITCHELL           2
ST. BONIFACIUS         2
S. EL MONTE            2
S. PASADENA            2
ST. MARY'S CITY        2
SAULT STE. MAIRE       2
FT. MORGAN             2
ST. ROSE               2
MT. HOLLY SPRINGS      2
ST. FRANCIS            2
ST. AUGUSTINE          2
E. HANOVER             1
E. NORWICH             1
MT. HOLLY              1
MT. CRAWFORD           1
MT. FREEDOM            1
E. SYRACUSE            1
FT.MYERS               1
MT. CLEMENS            1
MT. CARMEL             1
MT. ARLINGTON          1
WASHINGTON, D.C        1
MT. JULIET             1
ST. CATHARINE          1
W. COLLINGSWOOD        1
W. BABYLON             1
STE. GENEVIEVE         1
ST.CLOUD               1
ST. PETERBURG          1
ST. PETE BEACH         1
ST. MICHAELS           1
ST. JOHNS              1
ST. JOHN               1
ST. HELENS             1
ST .THOMAS             1
MT. STERLING           1
SOUTH ST. PAUL         1
SO. PLAINFIELD         1
S.OZONE PARK           1
NO. POLE               1
NO. CONWAY             1
N. DINWIDDIE           1
N. CHARLESTON          1
N. BETHESDA            1
N. AMITYVILLE          1
MT.KISCO               1
BAY ST. LOUIS          1
dtype: int64