In [171]:

import pandas as pd
import cleanup
import modules

col_list = ["employer_name", "employer_city"]
visas_df = pd.read_csv('../data/us_perm_visas.csv', usecols=col_list)

visas_df.dtypes

employer_city    object
employer_name    object
dtype: object

In [172]:
visas_df["employer_name"].value_counts()

COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION        12081
MICROSOFT CORPORATION                                 8369
INTEL CORPORATION                                     6564
GOOGLE INC.                                           5165
AMAZON CORPORATE LLC                                  3719
                                                     ...
COUNTRY CLUB CLEANERS                                    1
SSM CARDINAL GLENNON CHILDREN'S HOSPITAL                 1
BOND ST BALTIMORE LLC                                    1
BREAD AND CHOCOLATE, INC. T/A OLD TOWN BAKING CO.        1
POP, INC.                                                1
Name: employer_name, Length: 71709, dtype: int64

In [173]:
visas_df["employer_name"] = visas_df["employer_name"].str.upper()

In [174]:
visas_df["employer_name"].value_counts()

COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION    12081
MICROSOFT CORPORATION                             8369
INTEL CORPORATION                                 6564
GOOGLE INC.                                       5165
AMAZON CORPORATE LLC                              3719
                                                 ...
PRACTICAL COMPUTER APPLICATIONS, INC.                1
AVIATECH, LLC                                        1
ATRIUM CONSTRUCTION LLC                              1
PYBRUM & CO., LLP                                    1
JENNAN COMPREHENSIVE MEDICAL, P.C                    1
Name: employer_name, Length: 70846, dtype: int64

Some cells were lowercase. Thanks to uppercase 71709-70846 = 863 dublicate values could be avoided.

In [175]:
modules.print_full(visas_df["employer_name"].value_counts()[:100])

COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION                        12081
MICROSOFT CORPORATION                                                 8369
INTEL CORPORATION                                                     6564
GOOGLE INC.                                                           5165
AMAZON CORPORATE LLC                                                  3719
INFOSYS LTD.                                                          2717
CISCO SYSTEMS, INC.                                                   2634
ORACLE AMERICA, INC.                                                  2584
APPLE INC.                                                            2583
QUALCOMM TECHNOLOGIES INC.                                            1710
DELOITTE CONSULTING LLP                                               1698
FACEBOOK, INC.                                                        1651
HCL AMERICA INC.                                                      1525
YAHOO! INC.                                                           1458
ERNST & YOUNG U.S. LLP                                                1341
WIPRO LIMITED                                                         1189
HOUSE OF RAEFORD FARMS, INC.                                          1174
JP MORGAN CHASE & CO                                                  1117
IBM CORPORATION                                                       1047
IGATE TECHNOLOGIES, INC.                                              1025
BROADCOM CORPORATION                                                   968
DEFENDER SERVICES, INC.                                                924
CAPGEMINI FINANCIAL SERVICES USA INC.                                  896
SALESFORCE.COM                                                         893
EBAY INC.                                                              885
VMWARE, INC.                                                           878
BLOOMBERG L.P.                                                         863
RANDSTAD TECHNOLOGIES, LP                                              839
KFORCE INC.                                                            808
ERICSSON INC.                                                          804
CUMMINS INC.                                                           782
EMC CORPORATION                                                        745
PRICEWATERHOUSECOOPERS                                                 744
BANK OF AMERICA                                                        744
NVIDIA CORPORATION                                                     743
PAYPAL, INC.                                                           727
MASTECH, INC., A MASTECH HOLDINGS, INC. COMPANY                        719
LINKEDIN CORPORATION                                                   711
CASE FARMS PROCESSING INC.                                             633
WAL-MART ASSOCIATES, INC.                                              629
KOCH FOODS OF ALABAMA, LLC                                             613
NORMAN W. FRIES, INC. D/B/A CLAXTON POULTRY FARMS                      613
CAPITAL ONE SERVICES, LLC                                              593
DELOITTE & TOUCHE LLP                                                  576
HOUSE OF RAEFORD FARMS, INC                                            567
COMPUNNEL SOFTWARE GROUP, INC.                                         551
VERIZON COMMUNICATIONS INC., & ALL ITS SUBSIDIARIES & AFFILIATES       547
EPIC SYSTEMS CORPORATION                                               518
MPHASIS CORPORATION                                                    511
WAYNE FARMS LLC                                                        511
ABBYLAND FOODS, INC                                                    502
FMR LLC                                                                502
SYMANTEC CORPORATION                                                   500
HEWLETT-PACKARD COMPANY                                                496
KOCH FOODS OF CINCINNATI LLC                                           485
V-SOFT CONSULTING GROUP, INC.                                          482
NTT DATA, INC                                                          478
NETAPP, INC.                                                           474
KPMG LLP                                                               474
CERNER CORPORATION                                                     470
MICRON TECHNOLOGY, INC.                                                465
GOLDMAN SACHS & CO.                                                    463
ADOBE SYSTEMS INCORPORATED                                             458
NESS USA, INC.                                                         451
INFOSYS TECHNOLOGIES LIMITED                                           449
LARSEN & TOUBRO INFOTECH LIMITED                                       442
TEXAS INSTRUMENTS INCORPORATED                                         441
HARRISON POULTRY                                                       438
HTC GLOBAL SERVICES, INC.                                              435
GEORGE'S PROCESSING, INC.                                              430
MUY HAMBURGER PARTNERS, LLC                                            426
SYNOPSYS, INC.                                                         423
MUY PIZZA HOUSTON, LLC                                                 420
DALLAS INDEPENDENT SCHOOL DISTRICT                                     401
INTUIT                                                                 397
CSC COVANSYS CORPORATION                                               396
QUALCOMM, INC.                                                         396
TECH MAHINDRA (AMERICAS) INC., (FORMERLY MBT INTERNATIONAL, INC.)      395
EPAM SYSTEMS, INC                                                      390
3I INFOTECH INC.                                                       385
AMDOCS INC.                                                            382
QUALCOMM ATHEROS, INC.                                                 382
MORGAN STANLEY & CO. LLC                                               377
HCL GLOBAL SYSTEMS INC                                                 374
TWITTER, INC.                                                          372
ALCATEL LUCENT USA, INC.                                               372
INTEL MOBILE COMMUNICATIONS, INC.                                      371
POPULUS GROUP, LLC                                                     368
CAPGEMINI U.S. LLC                                                     362
TECHNOSOFT CORPORATION                                                 362
JUNIPER NETWORKS                                                       357
MCKINSEY & COMPANY, INC UNITED STATES                                  351
MANHATTAN ASSOCIATES, INC.                                             346
HEXAWARE TECHNOLOGIES, INC.                                            345
MARVELL SEMICONDUCTOR INC                                              342
GLOBALFOUNDRIES U.S. INC.                                              339
BROCADE COMMUNICATIONS SYSTEMS, INC.                                   338
MERRILL LYNCH                                                          333
AMERICAN EXPRESS TRAVEL RELATED SERVICES                               332
THE MATHWORKS, INC.                                                    327
Name: employer_name, dtype: int64

# employer_city

In [176]:
visas_df["employer_city"].value_counts()

NEW YORK                    16730
COLLEGE STATION             12118
SANTA CLARA                 11113
SAN JOSE                     9349
REDMOND                      8804
                            ...
GORHAM                          1
Boyd                            1
COLONIAL                        1
SPRINGFIEL                      1
CORAL GABLES (AKA MIAMI)        1
Name: employer_city, Length: 8384, dtype: int64

In [177]:
visas_df["employer_city"] = visas_df["employer_city"].str.upper()

In [178]:
visas_df["employer_city"].value_counts()

NEW YORK                    17989
COLLEGE STATION             12121
SANTA CLARA                 11195
SAN JOSE                     9503
REDMOND                      8821
                            ...
RIVER FOREST                    1
BELLEVILE                       1
ROCKTON                         1
GALESVILLE                      1
CORAL GABLES (AKA MIAMI)        1
Name: employer_city, Length: 5826, dtype: int64

## Entfernen von "," am Ende des Strings

In [179]:

visas_df["employer_city"].str.strip().str[-1].value_counts()

N    64805
E    58278
O    40163
A    35890
S    34978
K    30485
D    25773
Y    20285
G    10425
R     9289
W     9081
T     8770
H     8159
L     5256
M     4154
I     2997
X     2497
P     1878
U      323
,      261
C      218
Z      161
F       84
B       62
.       57
3        4
)        3
0        3
9        2
`        2
V        1
4        1
Q        1
7        1
J        1
Name: employer_city, dtype: int64

Die Zeichen ",", "." und "`" müssen bereinigt werden.

In [180]:
visas_df[visas_df["employer_city"].str.contains(pat = ',', na=False)]

           employer_city                           employer_name
152             GARDENA,  MINAKO AMERICA CORPORATION, DBA: MINCO
281              NORMAL,                  ALABAMA A&M UNIVERSITY
348           SCARSDALE,          SUNNINGDALE COUNTRY CLUB, INC.
3930      WASHINGTON, DC             SARGENT & KIM CLEANER, INC.
3983      WASHINGTON, DC                           HL YOON, MDPC
...                  ...                                     ...
363922  NORTH BRUNSWICK,                          TECHMATRIX INC
364961    WASHINGTON, DC                    NEW SEVEN MARKET INC
368683      LOS ANGELES,       FIRST BAPTIST CHURCH OF HOLLYWOOD
371056           BOSTON,                             CRANE & CO.
372889    NEW KNOXVILLE,                     HOGE LUMBER COMPANY

[313 rows x 2 columns]

In [181]:
visas_df[visas_df["employer_city"].str.contains(pat = r'\.', na=False)].sample(20)

           employer_city                                employer_name
175550         ST. LOUIS                             MONSANTO COMPANY
266871         ST. LOUIS  WORLD WIDE TECHNOLOGY HOLDING COMPANY, INC.
122159         ST. LOUIS                         GODFREY & ASSOCIATES
245292         ST. LOUIS                    ENTERPRISE HOLDINGS, INC.
319855           ST.PAUL                                  ECOLAB INC.
88054           ST. PAUL                                   3M COMPANY
25563     ST. LOUIS PARK  IS3C, INC. DBA: SELECT SOURCE INTERNATIONAL
88032          FT. SMITH            GGNSC ADMINISTRATIVE SERVICES LLC
244320          ST. ROSE                     KONGSBERG MARITIME, INC.
199796         ST. LOUIS                    BUNGE NORTH AMERICA, INC.
25160     FT. LAUDERDALE            SCANDINAVIAN BOILER SERVICE, INC.
180696  ST. CLAIR SHORES                           SOUTH LAKE SCHOOLS
65470     FT. LAUDERDALE          SIGNATURE COMMERCIAL SOLUTIONS, LLC
163370    FT. LAUDERDALE               JARLIN CABINET DISTRIBUTOR LLC
216549        MT. VERNON            CROSSROADS PHYSICIANS CORPORATION
271772          ST. PAUL                          H.B. FULLER COMPANY
254930         ST. LOUIS                 CHARTER COMMUNICATIONS, INC.
372270        ST. JOSEPH            HEARTLAND REGIONAL MEDICAL CENTER
35989          MT.LAUREL                 ARCH INTERNATIONAL GROUP INC
51753          ST. LOUIS                              PERFICIENT, INC

In [182]:
visas_df[visas_df["employer_city"].str.contains(pat = '`', na=False)]

         employer_city         employer_name
74345      NORTHRIDGE`   CALIFORNIA RECYCLES
332126  STATEN ISLAND`  PHIL AM KUSINA, INC.

In [183]:

visas_df["employer_city"] = visas_df["employer_city"].str.rstrip(',.`')

In [184]:


visas_df["employer_city"].str.strip().str[-1].value_counts()

N    64850
E    58328
O    40170
A    35896
S    35006
K    30518
D    25784
Y    20289
G    10428
R     9297
W     9081
T     8795
H     8168
L     5258
M     4156
I     2997
X     2550
P     1907
U      323
C      223
Z      161
F       84
B       62
3        4
0        3
)        3
9        2
7        1
4        1
V        1
Q        1
J        1
Name: employer_city, dtype: int64