In [1]:
import pandas as pd
import modules
import cleanup

# employer_name

In [2]:
col_list = ["employer_name"]
visas_df = pd.read_csv('../data/us_perm_visas.csv', usecols=col_list)

In [3]:
visas_df.head()

                 employer_name
0             NETSOFT USA INC.
1  PINNACLE ENVIRONEMNTAL CORP
2   SCHNABEL ENGINEERING, INC.
3      EBENEZER MISSION CHURCH
4   ALBANY INTERNATIONAL CORP.

In [4]:
visas_df["employer_name"].nunique()

71709

In [5]:
visas_df["employer_name"] = visas_df["employer_name"].str.upper()

In [6]:
visas_df["employer_name"].nunique()

70846

Manche Werte in der Spalte waren nicht durchgängig großgeschrieben.
Durch die Vereinheitlichung auf Großschreibung konnten 71709-70846 = 863 Duplikate vermieden werden.

In der cleanup.py wurde dies in der Funktion clean_employer_name() umgesetzt.

# employer_city

In [7]:
col_list = ["employer_city"]
visas_df = pd.read_csv('../data/us_perm_visas.csv', usecols=col_list)

In [8]:
visas_df.head()

  employer_city
0      NEW YORK
1     CARLSTADT
2    GLEN ALLEN
3      FLUSHING
4        ALBANY

Auch bei der Spalte `employer_city` liegen Unterschiede in Groß- und Kleinschreibung vor.
Dies wird im Nachgang bereinigt.

In [9]:
visas_df["employer_city"].nunique()

8384

In [10]:
visas_df["employer_city"] = visas_df["employer_city"].str.upper()

In [11]:
visas_df["employer_city"].nunique()

5826

## Entfernen von unüblichen Zeichen im Stadtnamen

In [12]:
visas_df["employer_city"].str.strip().str[-1].value_counts()

N    64805
E    58278
O    40163
A    35890
S    34978
K    30485
D    25773
Y    20285
G    10425
R     9289
W     9081
T     8770
H     8159
L     5256
M     4154
I     2997
X     2497
P     1878
U      323
,      261
C      218
Z      161
F       84
B       62
.       57
3        4
0        3
)        3
`        2
9        2
J        1
7        1
Q        1
V        1
4        1
Name: employer_city, dtype: int64

In manchen Zeilen liegen unübliche Zeichen am Ende des Strings vor. Dies können . oder , sein.
Die Funktion cutOffUnusualCharacters der cleanup.py bereinigt diese unüblichen Zeichen.

In [13]:
visas_df["employer_city"] = cleanup.cutOffUnusualCharacters(visas_df["employer_city"])

In [14]:
visas_df["employer_city"].nunique()

5743

In [15]:
visas_df["employer_city"].str.strip().str[-1].value_counts()

N    64850
E    58328
O    40170
A    35896
S    35006
K    30518
D    25784
Y    20289
G    10428
R     9297
W     9081
T     8795
H     8168
L     5258
M     4156
I     2997
X     2550
P     1907
U      323
C      223
Z      161
F       84
B       62
3        4
)        3
0        3
9        2
J        1
4        1
7        1
Q        1
V        1
Name: employer_city, dtype: int64

Es soll noch ein kurzer Blick auf die verbleibenden Datensätze mit Satzzeichen im String geworfen werden.

In [16]:
visas_df[visas_df["employer_city"].str.contains(pat = ',', na=False)].size

52

In [17]:
visas_df[visas_df["employer_city"].str.contains(pat = ',', na=False)].value_counts()

employer_city
WASHINGTON, DC                17
SCHAUMBURG, IL 60173           3
HICKORY, NC                    3
MEMPHIS, TN                    3
, NEW YORK                     3
ANN ARBOR, MI                  2
KNOXVILLE, TN                  1
ALISO VIEJO, ORANGE COUNTY     1
CHARLOTTE,RD  CHARLOTTE        1
ENCINO, CA                     1
FLUSHING, NEW YORK             1
FLUSHING, NY                   1
GARDENA, CA                    1
GMF, BARRIGADA                 1
VANCOUVER, BC, V6J 1C7         1
SANTA MONICA, CA               1
SANTA BARBARA, CA              1
LONG ISLAND CITY, NY           1
WASHINGTON, D.C                1
MIAMI, FL                      1
N, BILLERICA                   1
NORTH HOLLYWOOD, CA            1
NW, WASHINGTON DC              1
OKLAHOMA CITY, OK              1
PALISADES PARK, NJ             1
SAIPAN, CNMI                   1
LA CANADA, FLINTRIDGE          1
dtype: int64

Es wird ersichtlich, dass auch ein Komma inmitteln des Strings zu Wertverfälschungen führen kann.
Aufgrund der geringen Anzahl an Fällen (52 Fälle) wird dies der Einfachkeithalber vernachlässigt.

Der Vollständigkeit halber wird auch noch ein Blick auf Strings mit einem enthaltenen . geworfen.

In [18]:
visas_df[visas_df["employer_city"].str.contains(pat = r'\.', na=False)].size

1522

In [19]:
modules.print_full(visas_df[visas_df["employer_city"].str.contains(pat = r'\.', na=False)].value_counts())

employer_city
ST. LOUIS            664
ST. PETERSBURG       160
ST. PAUL             115
FT. LAUDERDALE        79
ST. THOMAS            57
MT. VERNON            34
ST.PAUL               32
ST. SIOUX CITY        32
MISS. STATE           29
MT. PROSPECT          29
ST. LOUIS PARK        17
MT. PLEASANT          17
ST. CHARLES           15
MT. LAUREL            15
MT. KISCO             12
MT.LAUREL             11
ST. CLOUD             11
FT. DEFIANCE           9
ST. CLAIR SHORES       8
PORT ST. LUCIE         8
ST.LOUIS               7
ST. HELENA             7
ST. PETERS             7
ST. MARTINVILLE        6
ST. JOSEPH             6
FT. WASHINGTON         6
SAULT STE. MARIE       5
FT. WORTH              5
ST. CROIX FALLS        4
WASHINGTON D.C         4
ST. ALBANS             4
L.I.C                  4
ST. MATTHEWS           4
ST. GEORGE             4
FT. MYERS              4
MT. VIEW               3
MT. GRETNA             3
SO. SAN FRANCISCO      3
N. BRUNSWICK           3
N. MIAMI BEACH         3
E. WEYMOUTH            2
NO.PLAINFIELD          2
E. HAMPTON             2
ST.THOMAS              2
N. HOLLYWOOD           2
N. LAS VEGAS           2
N. MIAMI               2
ST. DAVIDS             2
FT. SMITH              2
FT. MITCHELL           2
ST. BONIFACIUS         2
S. EL MONTE            2
S. PASADENA            2
ST. MARY'S CITY        2
SAULT STE. MAIRE       2
FT. MORGAN             2
ST. ROSE               2
MT. HOLLY SPRINGS      2
ST. FRANCIS            2
ST. AUGUSTINE          2
E. HANOVER             1
E. NORWICH             1
MT. HOLLY              1
MT. CRAWFORD           1
MT. FREEDOM            1
E. SYRACUSE            1
FT.MYERS               1
MT. CLEMENS            1
MT. CARMEL             1
MT. ARLINGTON          1
WASHINGTON, D.C        1
MT. JULIET             1
ST. CATHARINE          1
W. COLLINGSWOOD        1
W. BABYLON             1
STE. GENEVIEVE         1
ST.CLOUD               1
ST. PETERBURG          1
ST. PETE BEACH         1
ST. MICHAELS           1
ST. JOHNS              1
ST. JOHN               1
ST. HELENS             1
ST .THOMAS             1
MT. STERLING           1
SOUTH ST. PAUL         1
SO. PLAINFIELD         1
S.OZONE PARK           1
NO. POLE               1
NO. CONWAY             1
N. DINWIDDIE           1
N. CHARLESTON          1
N. BETHESDA            1
N. AMITYVILLE          1
MT.KISCO               1
BAY ST. LOUIS          1
dtype: int64

# employer_state

In [20]:
col_list = ["employer_state"]
visas_df = pd.read_csv('../data/us_perm_visas.csv', usecols=col_list)

In [21]:
visas_df["employer_state"].value_counts()

CALIFORNIA                  51127
CA                          42366
TEXAS                       25082
TX                          20099
NEW JERSEY                  16271
                            ...
NORTHERN MARIANA ISLANDS       22
VI                             18
BRITISH COLUMBIA                3
BC                              1
MARSHALL ISLANDS                1
Name: employer_state, Length: 113, dtype: int64

Es ist zu erkennen, dass die Lang- und Kurzschreibweise der verschiedenen Staaten verwendet wurde.
Dies kann unsere Analysen stören. Wir werden diese Schreibweisen auf eine Langform standardisieren.

Die Daten hierfür beziehen wir von: https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes'

In [22]:
# States
web_table = pd.read_html(
    'https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes',
    match='State/District')
states_abbreviations_df = web_table[0].rename(columns={"State/District": "name"})

In [23]:
# Territories
web_table = pd.read_html(
    'https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes',
    match='Territory/Associate')
states_abbreviations_df = states_abbreviations_df.append(web_table[0].rename(columns={"Territory/Associate": "name"}))

In [24]:
states_abbreviations_df

                        name Abbreviation Postal Code
0                    Alabama         Ala.          AL
1                     Alaska       Alaska          AK
2                    Arizona        Ariz.          AZ
3                   Arkansas         Ark.          AR
4                 California       Calif.          CA
5                   Colorado        Colo.          CO
6                Connecticut        Conn.          CT
7                   Delaware         Del.          DE
8       District of Columbia         D.C.          DC
9                    Florida         Fla.          FL
10                   Georgia          Ga.          GA
11                    Hawaii       Hawaii          HI
12                     Idaho        Idaho          ID
13                  Illinois         Ill.          IL
14                   Indiana         Ind.          IN
15                      Iowa         Iowa          IA
16                    Kansas        Kans.          KS
17                  Kentucky          Ky.          KY
18                 Louisiana          La.          LA
19                     Maine        Maine          ME
20                  Maryland          Md.          MD
21             Massachusetts        Mass.          MA
22                  Michigan        Mich.          MI
23                 Minnesota        Minn.          MN
24               Mississippi        Miss.          MS
25                  Missouri          Mo.          MO
26                   Montana        Mont.          MT
27                  Nebraska        Nebr.          NE
28                    Nevada         Nev.          NV
29             New Hampshire         N.H.          NH
30                New Jersey         N.J.          NJ
31                New Mexico         N.M.          NM
32                  New York         N.Y.          NY
33            North Carolina         N.C.          NC
34              North Dakota         N.D.          ND
35                      Ohio         Ohio          OH
36                  Oklahoma        Okla.          OK
37                    Oregon         Ore.          OR
38              Pennsylvania          Pa.          PA
39              Rhode Island         R.I.          RI
40            South Carolina         S.C.          SC
41              South Dakota         S.D.          SD
42                 Tennessee        Tenn.          TN
43                     Texas         Tex.          TX
44                      Utah         Utah          UT
45                   Vermont          Vt.          VT
46                  Virginia          Va.          VA
47                Washington        Wash.          WA
48             West Virginia        W.Va.          WV
49                 Wisconsin         Wis.          WI
50                   Wyoming         Wyo.          WY
0             American Samoa            Â          AS
1                       Guam         Guam          GU
2           Marshall Islands            Â          MH
3                 Micronesia            Â          FM
4   Northern Mariana Islands            Â          MP
5                      Palau            Â          PW
6                Puerto Rico         P.R.          PR
7             Virgin Islands            Â          VI

Die erhaltenen Werte werden in ein dictionary geladen, welches im Nachgang genutzt wird um die Kurzschreibweisen durch die Langform zu ersetzen.

In [25]:
states_abbreviations_df['name'] = states_abbreviations_df['name'].str.upper()
abbr_dictionary = states_abbreviations_df.set_index('Postal Code')['name'].to_dict()

In [26]:
visas_df['employer_state'] = visas_df['employer_state'].replace(abbr_dictionary)

In [27]:
visas_df['employer_state'].value_counts()

CALIFORNIA                  93493
TEXAS                       45181
NEW JERSEY                  30135
NEW YORK                    28075
WASHINGTON                  17113
ILLINOIS                    16323
MASSACHUSETTS               13261
VIRGINIA                    12050
MICHIGAN                    12001
PENNSYLVANIA                11905
FLORIDA                     11499
GEORGIA                     11368
NORTH CAROLINA               8304
OHIO                         6181
MARYLAND                     5733
CONNECTICUT                  3697
WISCONSIN                    3550
MISSOURI                     3363
ARIZONA                      3201
MINNESOTA                    2879
INDIANA                      2878
COLORADO                     2722
SOUTH CAROLINA               2512
ALABAMA                      2230
TENNESSEE                    2210
ARKANSAS                     1697
KENTUCKY                     1676
DISTRICT OF COLUMBIA         1647
IOWA                         1491
KANSAS                       1491
DELAWARE                     1381
NEBRASKA                     1259
LOUISIANA                    1226
OREGON                       1140
UTAH                         1136
OKLAHOMA                      847
RHODE ISLAND                  825
NEW MEXICO                    728
NEVADA                        723
NEW HAMPSHIRE                 653
IDAHO                         648
MISSISSIPPI                   622
VERMONT                       476
NORTH DAKOTA                  415
MAINE                         401
GUAM                          361
SOUTH DAKOTA                  323
WEST VIRGINIA                 316
HAWAII                        271
PUERTO RICO                   192
MONTANA                       141
WYOMING                       116
ALASKA                        109
NORTHERN MARIANA ISLANDS       73
VIRGIN ISLANDS                 67
BRITISH COLUMBIA                3
BC                              1
MARSHALL ISLANDS                1
Name: employer_state, dtype: int64

Einzig "BC" konnte durch diesen Vorgang keine langform zugewiesen werden.
Dies wird manuell vorgenommen.

In [28]:
visas_df['employer_state'] = visas_df['employer_state'].str.replace('BC', 'BRITISH COLUMBIA')

In [29]:
visas_df['employer_state'].value_counts()

CALIFORNIA                  93493
TEXAS                       45181
NEW JERSEY                  30135
NEW YORK                    28075
WASHINGTON                  17113
ILLINOIS                    16323
MASSACHUSETTS               13261
VIRGINIA                    12050
MICHIGAN                    12001
PENNSYLVANIA                11905
FLORIDA                     11499
GEORGIA                     11368
NORTH CAROLINA               8304
OHIO                         6181
MARYLAND                     5733
CONNECTICUT                  3697
WISCONSIN                    3550
MISSOURI                     3363
ARIZONA                      3201
MINNESOTA                    2879
INDIANA                      2878
COLORADO                     2722
SOUTH CAROLINA               2512
ALABAMA                      2230
TENNESSEE                    2210
ARKANSAS                     1697
KENTUCKY                     1676
DISTRICT OF COLUMBIA         1647
IOWA                         1491
KANSAS                       1491
DELAWARE                     1381
NEBRASKA                     1259
LOUISIANA                    1226
OREGON                       1140
UTAH                         1136
OKLAHOMA                      847
RHODE ISLAND                  825
NEW MEXICO                    728
NEVADA                        723
NEW HAMPSHIRE                 653
IDAHO                         648
MISSISSIPPI                   622
VERMONT                       476
NORTH DAKOTA                  415
MAINE                         401
GUAM                          361
SOUTH DAKOTA                  323
WEST VIRGINIA                 316
HAWAII                        271
PUERTO RICO                   192
MONTANA                       141
WYOMING                       116
ALASKA                        109
NORTHERN MARIANA ISLANDS       73
VIRGIN ISLANDS                 67
BRITISH COLUMBIA                4
MARSHALL ISLANDS                1
Name: employer_state, dtype: int64

Innerhalb der cleanup.py ist dieses Vorgehen unter der Funktion clean_employer_state festgehalten worden.