In [23]:
import pandas as pd
import cleanup

In [24]:
# cleanup.generate_cleaned_df()

In [25]:
col_list = ["case_number"]

visas_df = pd.read_csv("data/us_perm_visas_cleaned.csv", usecols=col_list)

In [26]:
visas_df.head()

     case_number
0  A-07323-97014
1  A-07332-99439
2  A-07333-99643
3  A-07339-01930
4  A-07345-03565

In [27]:
visas_df.dropna(inplace = True)

In [36]:
df = pd.DataFrame(visas_df["case_number"].str.split('-',1).tolist(),
                                 columns = ['Prefix','Number'])

In [37]:
df.head()

  Prefix       Number
0      A  07323-97014
1      A  07332-99439
2      A  07333-99643
3      A  07339-01930
4      A  07345-03565

In [38]:
df["Prefix"].value_counts()

A    374317
C        45
Name: Prefix, dtype: int64