Diese Datei erstellt den, für die Analysen notwendigen, bereinigten Datensatz.

In [3]:
import cleanup

In [4]:
cleanup.generate_cleaned_df("data/us_perm_visas.csv", "data/")

C:\Users\andre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,16,17,20,21,22,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44,45,47,48,49,50,51,52,53,55,56,57,58,59,60,61,63,64,65,66,68,69,70,71,72,73,74,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,153) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\andre\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:203: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(
C:\Users\andre\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:203: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(

Spalten wurden durch Addition zusammengeführt.
Spalten waren nicht überlappend und wurden fehlerfrei zusammengeführt.
Spalten waren nicht überlappend und wurden fehlerfrei zusammengeführt.
Achtung: Es liegen überlappende Spalten vor. Die erste Spalte wurde bei fehlenden Werte mit Inhalten der zweiten Spalte befüllt.
   wage_offer_from wage_offer_unit_of_pay case_received_date decision_date  \
0         75629.00                     yr                NaT    2012-02-01
1         37024.00                     yr                NaT    2011-12-21
2         47923.00                     yr                NaT    2011-12-01
3            10.97                     hr                NaT    2011-12-01
4        100000.00                     yr                NaT    2012-01-26

  employer_state    case_number foreign_worker_info_education_other  \
0       NEW YORK  A-07323-97014                                 NaN
1       NEW YORK  A-07332-99439                                 NaN
2       VIRGINIA  A-07333-99643                                 NaN
3       NEW YORK  A-07339-01930                                 NaN
4       NEW YORK  A-07345-03565                                 NaN

  country_of_citizenship case_status     us_economic_sector  \
0                ARMENIA   Certified                     IT
1                 POLAND      Denied  Other Economic Sector
2                  INDIA   Certified              Aerospace
3            SOUTH KOREA   Certified  Other Economic Sector
4                 CANADA   Certified           Advanced Mfg

                 employer_name employer_city  prevailing_wage_amount_9089  \
0             NETSOFT USA INC.      NEW YORK                     75629.00
1  PINNACLE ENVIRONEMNTAL CORP     CARLSTADT                     37024.00
2   SCHNABEL ENGINEERING, INC.    GLEN ALLEN                     47923.00
3      EBENEZER MISSION CHURCH      FLUSHING                        10.97
4   ALBANY INTERNATIONAL CORP.        ALBANY                     94890.00

  prevailing_wage_unit_of_pay_9089 foreign_worker_info_education  \
0                               yr                           NaN
1                               yr                           NaN
2                               yr                           NaN
3                               hr                           NaN
4                               yr                           NaN

  prevailing_wage_level_9089                  prevailing_wage_soc_title  \
0                   Level II  Computer Software Engineers, Applications
1                    Level I        Hazardous Materials Removal Workers
2                    Level I                            Civil Engineers
3                   Level II                                File Clerks
4                   Level IV                            Sales Engineers

  class_of_admission            prevailing_wage_job_title_9089  \
0                J-1  computer software engineers, application
1                B-2                          asbestos handler
2               H-1B                            civil engineer
3                B-2                                file clerk
4                L-1                  sales & service engineer

  foreign_worker_info_birth_country
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN