# Cleaning up `wage_offer_from_9089`

In Progress of our data analysis it became apparent, that wage_offer_from_9089

In [13]:
import pandas as pd
import importlib

In [14]:
col_list= ["wage_offer_from_9089"]
visas_df = pd.read_csv("data/us_perm_visas.csv", usecols=col_list)
visas_df.head ()

C:\Users\andre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (148) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

  wage_offer_from_9089
0                75629
1                37024
2                47923
3                10.97
4               100000

In [15]:
cleanup_df = visas_df.copy()
cleanup_df.dtypes

wage_offer_from_9089    object
dtype: object

In [16]:
cleanup_df["wage_offer_from_9089"].astype('float')

ValueError: could not convert string to float: '90,000.00'

In [17]:
cleanup_df["wage_offer_from_9089"].apply(type)

0         <class 'float'>
1         <class 'float'>
2         <class 'float'>
3         <class 'float'>
4         <class 'float'>
               ...
374357      <class 'str'>
374358      <class 'str'>
374359      <class 'str'>
374360      <class 'str'>
374361      <class 'str'>
Name: wage_offer_from_9089, Length: 374362, dtype: object

In [18]:
cleanup_df['wage_Type'] = cleanup_df["wage_offer_from_9089"].apply(lambda x: type(x).__name__)

In [19]:

cleanup_df.head()

  wage_offer_from_9089 wage_Type
0                75629     float
1                37024     float
2                47923     float
3                10.97     float
4               100000     float

In [20]:
import modules

In [21]:
importlib.reload(modules)
modules.print_full(cleanup_df.sample(500))

       wage_offer_from_9089 wage_Type
296714               130666     float
342703                96000     float
276066               210000     float
175659                29.01       str
248730                98000     float
363140           101,088.00       str
340709               118000     float
358070           102,000.00       str
180668            35,776.00       str
71967                   NaN     float
359711           113,464.00       str
250317                16765     float
301031               205000     float
158409            83,720.00       str
248657               125000     float
115965                  NaN     float
341564               104305     float
141195           127,000.00       str
190461            75,057.00       str
259005              22493.5     float
282701                93018     float
177045            76,066.00       str
373083            20,654.00       str
353850            82,784.00       str
20194               98446.4     float
214104            97,302.00       str
15097                 69000     float
53548                   NaN     float
79443                   NaN     float
2451                  80336     float
147714            91,270.40       str
179377            54,933.00       str
135722            69,160.00       str
149493           275,000.00       str
83614                   NaN     float
262967              99847.8     float
339518               164382     float
9113                  52000     float
308229                48.56     float
370945           119,350.00       str
248206                88000     float
126614                  NaN     float
202101           120,000.00       str
136893           113,000.00       str
281581                54205     float
295672                83616     float
161242           115,000.00       str
5252                  73000     float
167521            72,467.00       str
150928           100,000.00       str
262027               154000     float
288507                44.09     float
64247                   NaN     float
338874                74500     float
205446            53,414.40       str
88248                   NaN     float
369996            71,400.00       str
293286                 8.05     float
31664                   NaN     float
113200                  NaN     float
249572                77250     float
40738                   NaN     float
227238                90459     float
355175           308,000.00       str
70478                   NaN     float
188738            97,989.00       str
271422                 8.09     float
314198               141000     float
347646                39354     float
284133               140000     float
355267            22,880.00       str
255544                16765     float
113201                  NaN     float
269864               138669     float
211880           129,355.00       str
64720                   NaN     float
59516                   NaN     float
160447           120,000.00       str
273409               161782     float
76614                   NaN     float
25625                   NaN     float
299703               100000     float
164672            90,459.00       str
229771                76294     float
169590           105,560.00       str
352807            75,046.00       str
126333                  NaN     float
90850                   NaN     float
354198           120,349.00       str
155191            77,000.00       str
50345                   NaN     float
102553                  NaN     float
198195           117,497.00       str
75983                   NaN     float
128460                  NaN     float
307336                26333     float
313568               125000     float
85263                   NaN     float
241863               108000     float
108926                  NaN     float
116675                  NaN     float
114910                  NaN     float
290102                80000     float
288300                39395     float
354245           113,650.00       str
356570           155,459.00       str
363129                 9.60       str
34470                   NaN     float
149892            77,896.00       str
92473                   NaN     float
60291                   NaN     float
285372               103000     float
38640                   NaN     float
265439               133900     float
194775           126,630.00       str
239046                97406     float
284573                16952     float
191201            25,709.00       str
16604               60114.7     float
206180            70,800.00       str
7808                 131238     float
322169                74862     float
155183            71,136.00       str
115793                  NaN     float
162895            98,675.00       str
1220                35110.1     float
40613                   NaN     float
284513               170000     float
293220               111717     float
140343            75,500.00       str
153715           102,315.00       str
275094               247000     float
55930                   NaN     float
64054                   NaN     float
252074                80000     float
160826                12.10       str
25002                   NaN     float
351939            22,880.00       str
295379                88275     float
325339               101712     float
172507            39,416.00       str
9573                 100500     float
349856           119,683.00       str
176819           150,000.00       str
97782                   NaN     float
311184               133266     float
311315                90230     float
34336                   NaN     float
117286                  NaN     float
336469                49171     float
302696                47549     float
200440           114,400.00       str
257966                90000     float
140768            60,000.00       str
302103                61839     float
186538            82,597.00       str
77534                   NaN     float
321912                81266     float
84018                   NaN     float
262448               120000     float
313559               111500     float
142133           110,000.00       str
34960                   NaN     float
142391            87,750.00       str
327869                18500     float
15742                 61560     float
123633                  NaN     float
278259                21112     float
493                  108181     float
326107                70000     float
61287                   NaN     float
273084                80000     float
355816           119,350.00       str
214933                34.00       str
153138            72,467.00       str
356884           110,000.00       str
254789               125965     float
240512                75670     float
178495            81,120.00       str
273961                85000     float
280243               133806     float
155305            47,486.00       str
68522                   NaN     float
263935               120000     float
196879            93,000.00       str
1484                  71400     float
43671                   NaN     float
235513               100200     float
282125               140000     float
338404               110000     float
26563                   NaN     float
1587                  40000     float
44546                   NaN     float
244221                98821     float
105952                  NaN     float
277194               116626     float
35446                   NaN     float
8476                 102190     float
368990            70,000.00       str
327645                90000     float
16384                 45157     float
108953                  NaN     float
163607           105,498.00       str
155155            60,000.00       str
171666            96,429.00       str
329675               190000     float
177634            16,848.00       str
215473           123,000.00       str
57461                   NaN     float
247864                42513     float
21931                   NaN     float
100625                  NaN     float
105412                  NaN     float
101682                  NaN     float
180063            89,000.00       str
223591            80,000.00       str
319108               162500     float
155570           126,006.00       str
202839            90,709.00       str
50347                   NaN     float
291368               141253     float
263366               114193     float
117031                  NaN     float
15591                 79706     float
159143            60,611.00       str
373120            24,960.00       str
68235                   NaN     float
286447                77210     float
301431                92500     float
209898            92,000.00       str
79858                   NaN     float
302365               101712     float
299122               125000     float
348341              95950.0       str
52538                   NaN     float
5825                  81600     float
113714                  NaN     float
138192            19,843.00       str
179666            96,000.00       str
53393                   NaN     float
300759               117458     float
77732                   NaN     float
315359                98363     float
158580           116,605.00       str
232195                38459     float
78097                   NaN     float
195158            79,102.00       str
76297                   NaN     float
248588               114400     float
131477                  NaN     float
129975                  NaN     float
167508           105,560.00       str
46012                   NaN     float
164121           114,608.00       str
119709                  NaN     float
233908               187199     float
66277                   NaN     float
123139                  NaN     float
191541                 7.70       str
106553                  NaN     float
31629                   NaN     float
315236               111821     float
220069            64,979.00       str
371626            61,090.00       str
316284               117354     float
357556            70,866.00       str
47875                   NaN     float
7202                 148907     float
310440                17909     float
25502                   NaN     float
329094               125000     float
81792                   NaN     float
316021               133516     float
248902                80000     float
338667               150000     float
284122               185000     float
113638                  NaN     float
160046            92,000.00       str
111351                  NaN     float
39495                   NaN     float
9103                  77492     float
251745               117500     float
43718                   NaN     float
60402                   NaN     float
356059           138,403.00       str
345932                66144     float
119514                  NaN     float
149962            90,000.00       str
293122                88234     float
323802               119350     float
284281               109658     float
357448           162,781.00       str
40113                   NaN     float
143436            90,000.00       str
85924                   NaN     float
108437                  NaN     float
211287           105,000.00       str
202793            87,448.00       str
305563                17222     float
199159            97,440.00       str
39062                   NaN     float
341426               109054     float
254120                42170     float
265844                77210     float
344800               101088     float
208630            36,150.00       str
20169               88000.1     float
218799           130,000.00       str
204179            76,378.00       str
5281                  89752     float
266514                82347     float
180355           152,776.00       str
360151                14.20       str
79684                   NaN     float
132645                  NaN     float
219667           162,885.00       str
340320                17222     float
285365               143000     float
335488               150000     float
163740            68,203.00       str
12190                210000     float
83926                   NaN     float
5749                 128000     float
195491           104,790.00       str
349518              56160.0       str
143878            72,467.00       str
281207                82763     float
170631            78,150.00       str
371351           117,998.00       str
264128               170000     float
294714               110000     float
356769           117,333.00       str
374042            90,896.00       str
149218            81,994.00       str
142890            97,802.00       str
7513                  84762     float
58914                   NaN     float
239748                62000     float
178580            69,493.00       str
341962               117730     float
291095                88130     float
236418               109762     float
348108               101627     float
40117                   NaN     float
269981                79102     float
137076            74,422.00       str
256711               104437     float
39698                   NaN     float
193907            87,339.00       str
130032                  NaN     float
277126               125000     float
71720                   NaN     float
10836                 58000     float
146085            74,776.00       str
278071               110364     float
261063                90459     float
339185               112632     float
180532           142,667.00       str
261310               150000     float
168423           283,025.60       str
166722                 9.30       str
66577                   NaN     float
120794                  NaN     float
101125                  NaN     float
139311            98,821.00       str
239831               126630     float
49933                   NaN     float
7813                 107640     float
15962                 64085     float
66641                   NaN     float
222009           114,941.00       str
205186            85,000.00       str
65461                   NaN     float
88231                   NaN     float
151563            42,016.00       str
290548                91104     float
164057            90,522.00       str
247246               128773     float
23865                   NaN     float
184727           110,000.00       str
302419               102794     float
276589               120349     float
199000            17,098.00       str
4740                  42598     float
20102               64521.6     float
173743           160,000.00       str
362624            20,904.00       str
144119            72,467.00       str
252033               115294     float
322288               125445     float
148327           124,301.00       str
196259            95,000.00       str
282532                96500     float
240218                69139     float
125027                  NaN     float
223487           111,000.00       str
3875                  81328     float
237099                72000     float
283651               111426     float
56953                   NaN     float
176294            34,341.00       str
169899            97,282.00       str
131592                  NaN     float
178755            82,285.00       str
274248                25168     float
169703           105,518.00       str
136912            88,504.00       str
158336            76,000.00       str
351945            85,000.00       str
236133                85571     float
222647            81,765.00       str
19477                 47500     float
231922               145000     float
146826            83,300.00       str
30442                   NaN     float
305885                81619     float
48850                   NaN     float
84744                   NaN     float
191143            97,989.00       str
12000                159615     float
85407                   NaN     float
26558                   NaN     float
316758                88878     float
276365                79102     float
76174                   NaN     float
119906                  NaN     float
315488                60299     float
228765                79643     float
154829            96,140.00       str
320214                99939     float
233148               130000     float
366670            76,502.00       str
193429            32,938.00       str
302552               119350     float
79448                   NaN     float
367569           103,200.00       str
75494                   NaN     float
52235                   NaN     float
315647                96866     float
4697                  43000     float
259175               160000     float
38702                   NaN     float
33457                   NaN     float
53093                   NaN     float
39728                   NaN     float
61272                   NaN     float
118015                  NaN     float
130944                  NaN     float
3543                 158000     float
146971           115,856.00       str
331337               144269     float
142116            72,467.00       str
266688               105718     float
25051                   NaN     float
298105                70750     float
14690                 95181     float
140342            57,075.00       str
167072            61,500.00       str
79870                   NaN     float
224298             145000.0       str
345007                66144     float
90825                   NaN     float
64150                   NaN     float
274379                87000     float
152472           145,000.00       str
19844               75628.8     float
245668               143000     float
159106           145,000.00       str
61481                   NaN     float
276079                50000     float
137571            97,853.00       str
53130                   NaN     float
106047                  NaN     float
145591            92,926.00       str
254223               200000     float
251911               148803     float
52607                   NaN     float
254355               102000     float
169938            35,069.00       str
249238                64438     float
33065                   NaN     float
372612           136,510.00       str
349761           101,088.00       str
194647            95,000.00       str
205873           107,702.00       str
326691               103626     float
243160               113000     float
140986           104,458.00       str
272722                45698     float
176281            54,330.00       str
186806           101,329.00       str
118588                  NaN     float
265701                85571     float
148096           176,571.00       str
258841               120786     float
167550           127,608.00       str
46338                   NaN     float
77093                   NaN     float
298659                74755     float
96155                   NaN     float

In [22]:

cleanup_df['wage_Type'].value_counts()

float    258181
str      116181
Name: wage_Type, dtype: int64

In [26]:
def clean_currency(x):
    """ If the value is a string, then remove delimiters
    otherwise, the value is numeric and can be converted.

    """
    if isinstance(x, str):
        if x == '#############':
            x = 'NaN'
        else:
            return(x.replace(',', ''))
    return(x)

In [27]:

cleanup_df["wage_offer_from_9089"] = cleanup_df["wage_offer_from_9089"].apply(clean_currency).astype('float')
cleanup_df['wage_Type'] = cleanup_df["wage_offer_from_9089"].apply(lambda x: type(x).__name__)

In [28]:

cleanup_df['wage_Type'].value_counts()

float    374362
Name: wage_Type, dtype: int64

In [29]:

modules.print_full(cleanup_df.sample(500))

        wage_offer_from_9089 wage_Type
195523             104458.00     float
309064              98342.00     float
226574                 43.55     float
326340              96928.00     float
225747              70054.00     float
169227             178797.00     float
79236                    NaN     float
226752             105000.00     float
278131              91000.00     float
232951             124779.00     float
160569              97000.00     float
228784              80028.00     float
253639              99278.00     float
174018              94500.00     float
272469             103000.00     float
207217              74650.00     float
360804             115000.00     float
320523             106704.00     float
69739                    NaN     float
84547                    NaN     float
188460              95000.00     float
31301                    NaN     float
238294             108014.00     float
104971                   NaN     float
23944                    NaN     float
279198             103700.00     float
272315              71100.00     float
59953                    NaN     float
248357                  8.09     float
247135              79102.00     float
229033              95077.00     float
308563              81765.00     float
179191             112200.00     float
267609             122762.00     float
237534             235000.00     float
336661             102000.00     float
353962              17222.00     float
336965             100000.00     float
90834                    NaN     float
148546              87422.00     float
35660                    NaN     float
317373             130666.00     float
292101                 13.53     float
147291              49002.00     float
31221                    NaN     float
115207                   NaN     float
57079                    NaN     float
41824                    NaN     float
143897              63274.00     float
374071             175000.00     float
147221             105394.00     float
276391              91166.00     float
63502                    NaN     float
48902                    NaN     float
74062                    NaN     float
1491                69015.00     float
252804              89128.00     float
169194              72467.00     float
97447                    NaN     float
41776                    NaN     float
161593              90459.00     float
311482              40000.00     float
145740              93891.00     float
202428             108770.00     float
196761             113000.00     float
108684                   NaN     float
373298             137500.00     float
203907              99154.00     float
210319              89378.00     float
258492              61090.00     float
142310              89000.00     float
152646              72467.00     float
184362              20301.00     float
191042              88000.00     float
313071              81515.00     float
77423                    NaN     float
23380                    NaN     float
159222              85779.00     float
5845                87422.00     float
28357                    NaN     float
283063             121222.00     float
65529                    NaN     float
199924                 33.00     float
278012              90000.00     float
11836               93371.00     float
276267                 39.00     float
33123                    NaN     float
277871             140442.00     float
4198                96934.00     float
280457              18366.00     float
72008                    NaN     float
302021             137000.00     float
117634                   NaN     float
296794             125800.00     float
326024              80704.00     float
121999                   NaN     float
20459              138000.00     float
330839              80000.00     float
180554              66000.00     float
41179                    NaN     float
24949                    NaN     float
260265              90459.00     float
170078              92352.00     float
185348              96429.00     float
273232              91811.00     float
209519              22949.33     float
19896              118000.00     float
37902                    NaN     float
368011              69077.00     float
278160              95000.00     float
246181              68931.00     float
77777                    NaN     float
60563                    NaN     float
172443              90000.00     float
118708                   NaN     float
16276              123000.00     float
6331               100000.00     float
234796              90522.00     float
319102             227178.00     float
334284              95000.00     float
200350              85000.00     float
107705                   NaN     float
170669             120000.00     float
283053              65166.00     float
230078             108763.00     float
273419             112000.00     float
15483              101088.00     float
200427                  8.09     float
10681               25000.00     float
288807              19198.00     float
218167              64438.00     float
92436                    NaN     float
255541              16765.00     float
363801              85862.00     float
309371              64958.00     float
241733             125000.00     float
127693                   NaN     float
366036              99939.00     float
217591              40830.00     float
27671                    NaN     float
256512              76000.00     float
41479                    NaN     float
260757             125000.00     float
114927                   NaN     float
65382                    NaN     float
41377                    NaN     float
8500               112500.00     float
223869             123600.00     float
252227              91600.00     float
364579             160000.00     float
310462                  9.00     float
185291             131000.00     float
245977                 62.50     float
185300             114400.00     float
104350                   NaN     float
272726             105500.00     float
303724             108992.00     float
229215             101000.00     float
340776             117000.00     float
268919              79660.00     float
153532              82909.00     float
260373              86500.00     float
151768              19219.00     float
124375                   NaN     float
41692                    NaN     float
354899              85758.00     float
97011                    NaN     float
367557              57660.00     float
115669                   NaN     float
232035              76378.00     float
330249              88275.00     float
219544             138375.00     float
342603              84000.00     float
148478                 34.00     float
80793                    NaN     float
322641             137054.00     float
332291             117458.00     float
248827              68744.00     float
79755                    NaN     float
136666              74728.00     float
72645                    NaN     float
233413              84706.00     float
138281              52000.00     float
150318              66394.00     float
126495                   NaN     float
300224             164382.00     float
258761              90000.00     float
219085              97700.00     float
1478                18699.00     float
203203              92435.20     float
139901              74000.00     float
7264               114296.00     float
310391             100008.00     float
82906                    NaN     float
170705              75500.00     float
236501             107702.00     float
280086             101400.00     float
166402              85592.00     float
226149              99000.00     float
295051              89955.00     float
365848              21840.00     float
68888                    NaN     float
166058              86507.00     float
254927             245000.00     float
190230              46613.00     float
156199             200000.00     float
232744              85000.00     float
70032                    NaN     float
95757                    NaN     float
134903                   NaN     float
17237              100760.40     float
305604              75500.00     float
259058             106600.00     float
78321                    NaN     float
243741             225000.00     float
179696             122013.00     float
220877             102000.00     float
10364               72446.00     float
311587              74818.00     float
190024              96616.00     float
189687             100000.00     float
124699                   NaN     float
90698                    NaN     float
196539              94250.00     float
200275             100000.00     float
37538                    NaN     float
135690              34000.00     float
355804              87422.00     float
176991              67246.00     float
70840                    NaN     float
112449                   NaN     float
275769             113880.00     float
193445             131269.00     float
262176              85000.00     float
227555              76378.00     float
303390              94000.00     float
331755             146000.00     float
161513             105000.00     float
153173              54059.00     float
283768             105574.90     float
255603              80000.00     float
185749              90000.00     float
272787             250000.00     float
367573             123490.00     float
112902                   NaN     float
136963              34570.00     float
318184              52624.00     float
357628              48797.00     float
215031                  8.91     float
341795             133516.00     float
303924             101000.00     float
336759              49400.00     float
40460                    NaN     float
75734                    NaN     float
342265              81765.00     float
247626              93018.00     float
44875                    NaN     float
314510             180000.00     float
334368             109000.00     float
131206                   NaN     float
295459              37814.00     float
16478              190000.00     float
258848             145000.00     float
317110              64794.00     float
340727              87318.00     float
275775              73867.00     float
1300                56430.00     float
51123                    NaN     float
304371             175594.00     float
355363             194750.00     float
246561             169042.00     float
266353             140000.00     float
80993                    NaN     float
321252              79186.00     float
343321             134638.00     float
218936              76274.00     float
47085                    NaN     float
68880                    NaN     float
3842               122720.00     float
336814              97000.00     float
356333             123490.00     float
240492             148803.00     float
152290              62525.00     float
10757                  60.00     float
114204                   NaN     float
171224              88296.00     float
81902                    NaN     float
242098              88213.00     float
363729              20654.00     float
5614                88000.00     float
187076              75899.00     float
284460              49338.00     float
13969               89752.00     float
135489                 10.12     float
87205                    NaN     float
62221                    NaN     float
227202              64438.00     float
56966                    NaN     float
223103             134638.00     float
360317             120732.00     float
155605             118000.00     float
319398              74755.00     float
234060             117000.00     float
319105             133000.00     float
302581             125000.00     float
48705                    NaN     float
224891              84906.00     float
212023              80000.00     float
74388                    NaN     float
204326              69028.00     float
118773                   NaN     float
244743              77210.00     float
71636                    NaN     float
305446              62608.00     float
168474              78600.00     float
103786                   NaN     float
93288                    NaN     float
246045             125632.00     float
137365              74422.00     float
267189             155000.00     float
109732                   NaN     float
215367              55300.00     float
88660                    NaN     float
153738             155000.00     float
31795                    NaN     float
354894             107000.00     float
225075              85134.00     float
257908             122680.00     float
320690              98883.00     float
76300                    NaN     float
98744                    NaN     float
157708             124655.00     float
98293                    NaN     float
333934              75000.00     float
29223                    NaN     float
125502                   NaN     float
90141                    NaN     float
331390             140629.00     float
199902              96000.00     float
318431              83741.00     float
63004                    NaN     float
31758                    NaN     float
244432             116708.00     float
298908                 36.00     float
368534             100000.00     float
104746                   NaN     float
252183                 18.39     float
235378             115253.00     float
11489               57200.00     float
331683              66851.00     float
37004                    NaN     float
214366              67621.00     float
303888              63066.00     float
356478                 37.00     float
157450              70000.00     float
4664                  770.00     float
316934             111114.00     float
271976              89669.00     float
248354              16786.00     float
10409               80308.00     float
355248              22880.00     float
133610                   NaN     float
337258              51189.00     float
304441              78000.00     float
176711             120000.00     float
4874               162750.00     float
93074                    NaN     float
90487                    NaN     float
160414             121160.00     float
142353              54000.00     float
225575             180000.00     float
257211              93018.00     float
20951                    NaN     float
124940                   NaN     float
303505              80455.00     float
114801                   NaN     float
79306                    NaN     float
333186              81765.00     float
366144             119350.00     float
94780                    NaN     float
303282              51979.00     float
356093              53500.00     float
212794              85000.00     float
60269                    NaN     float
192166              89107.00     float
370095              92000.00     float
111368                   NaN     float
298813              75504.00     float
165359             102357.00     float
29899                    NaN     float
341829              66144.00     float
174372              90459.00     float
182714              62192.00     float
319368             101712.00     float
239486              98800.00     float
36780                    NaN     float
223702             135000.00     float
51885                    NaN     float
148612              74235.00     float
332999             183061.00     float
338641              81952.00     float
348025             101000.00     float
306672              87050.00     float
121934                   NaN     float
270390              46227.00     float
140578             111675.00     float
192626             147784.00     float
247161             131269.00     float
35761                    NaN     float
335982              74402.00     float
297114             119829.00     float
217983              84500.00     float
91746                    NaN     float
103725                   NaN     float
175376             115000.00     float
279255             148803.00     float
321950             108800.00     float
287830              80205.00     float
127232                   NaN     float
354768              66747.00     float
248377                  8.91     float
330605             108200.00     float
304418              70000.00     float
101082                   NaN     float
368827              88000.00     float
130301                   NaN     float
85752                    NaN     float
300093              87443.00     float
64946                    NaN     float
68876                    NaN     float
149455              90459.00     float
128192                   NaN     float
98907                    NaN     float
316146             113464.00     float
189310             187199.00     float
281448              99882.00     float
327940             117437.00     float
42639                    NaN     float
329365              49878.40     float
349468              52800.00     float
101235                   NaN     float
64048                    NaN     float
245477             115253.00     float
317705              50877.00     float
176821              68557.00     float
98202                    NaN     float
41792                    NaN     float
192856             102666.00     float
1401                79000.00     float
68736                    NaN     float
135660              45530.00     float
113537                   NaN     float
196126              38500.00     float
74612                    NaN     float
33157                    NaN     float
64574                    NaN     float
255290              84573.00     float
137939             106891.00     float
47426                    NaN     float
224524             110000.00     float
87276                    NaN     float
39090                    NaN     float
149881             109000.00     float
196326             105560.00     float
78979                    NaN     float
171181             110780.00     float
4730                19802.00     float
17909              185000.00     float
48890                    NaN     float
107155                   NaN     float
326465              79414.00     float
266421             128773.00     float
204294              17077.00     float
282234              72780.00     float
370555             145000.00     float
301455             115000.00     float
8680               117000.00     float
203277              76378.00     float
104469                   NaN     float
224270             107500.00     float
137788              94000.00     float
319987             133714.00     float
172373             105000.00     float
189861             109762.00     float
96065                    NaN     float
98313                    NaN     float
184956             145000.00     float
192304              95000.00     float
68963                    NaN     float
53607                    NaN     float
325096             228000.00     float
320840             180000.00     float
266164             138028.80     float
24773                    NaN     float
9984               105000.00     float
48309                    NaN     float
111955                   NaN     float
290932              66144.00     float
242484             115149.00     float
140335             111322.00     float