In [2]:
import pandas as pd

In [3]:
col_list= ["wage_offer_from_9089"]
visas_df = pd.read_csv("data/us_perm_visas.csv", usecols=col_list)
visas_df.head ()

C:\Users\andre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (148) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

  wage_offer_from_9089
0                75629
1                37024
2                47923
3                10.97
4               100000

In [4]:
cleanup_df = visas_df.copy()
cleanup_df.dtypes

wage_offer_from_9089    object
dtype: object

In [5]:
cleanup_df["wage_offer_from_9089"].astype('float')

ValueError: could not convert string to float: '90,000.00'

In [8]:
cleanup_df["wage_offer_from_9089"].apply(type)

0         <class 'float'>
1         <class 'float'>
2         <class 'float'>
3         <class 'float'>
4         <class 'float'>
               ...
374357      <class 'str'>
374358      <class 'str'>
374359      <class 'str'>
374360      <class 'str'>
374361      <class 'str'>
Name: wage_offer_from_9089, Length: 374362, dtype: object

In [9]:
cleanup_df['wage_Type'] = cleanup_df["wage_offer_from_9089"].apply(lambda x: type(x).__name__)

In [10]:

cleanup_df.head()

  wage_offer_from_9089 wage_Type
0                75629     float
1                37024     float
2                47923     float
3                10.97     float
4               100000     float

In [11]:
import modules

In [12]:
modules.print_full(cleanup_df.sample(500))

AttributeError: module 'modules' has no attribute 'print_full'